/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
} */

/* h1 {
    color: coral;
} */

.gallery-cont {
    margin-left: 100px;
}
.gallery-cont div {
    width: 250px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    /* width: 100%; */
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}
.gallery-cont div:hover img {
    filter: grayscale(0);
}
.gallery-cont div:hover {
    border-color: coral;
}
.gallery-cont div img {
    width: 250px;
    height: 120px;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}
.gallery-cont div p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
}
